@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Stuff */

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--paletteDark);
  font-family: Montserrat;
  overflow-x: hidden;
  color: var(--paletteLight);
}

:root {
  --paletteDark: #0b0b0a;
  --paletteLight: #fff;
  --brandColor: #4da167;
}

/* SVG styling */
.cls-1 {
  fill: var(--paletteDark);
}
.cls-2 {
  fill: #63d487;
}
.crcl {
  fill: var(--paletteLight);
}
.clsy-1 {
  fill: var(--paletteDark);
}
.clsy-2 {
  fill: var(--paletteLight);
}
.clst-2 {
  fill: var(--paletteDark);
}

/* Header */
nav ul {
  display: none;
}
header {
  background-color: #269e97;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  height: 15vh;
  padding: 2vh 0;
}

.home {
  color: #63d487;
}

/* Tap Here */

#tapHere {
  position: absolute;
  width: 30vw;
  right: 2vw;
  top: 1vh;
}

/* Main */
.main {
  position: relative;
}

/* FOOTER STYLES */

footer {
  position: relative;
  height: 53vh;
  background-color: var(--brandColor);
}

#twitter {
  width: 24vmin;
}

.logo {
  display: none;
}

#youtube {
  width: 23vmin;
}

.social {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  column-gap: 15vw;
  align-items: center;
}

h3 {
  font-size: 14vmin;
  font-weight: 800;
  text-align: center;
  color: var(--paletteDark);
  padding-top: 5vh;
}

h4 {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  color: var(--paletteDark);
  margin-top: 1vh;
}

footer p {
  color: var(--paletteDark);
  position: absolute;
  bottom: 1vh;
  text-align: center;
  width: 100%;
}

/* Parallax */
.wrap-parallax {
  position: relative;
  height: 100vh;
}

.parallax {
  position: absolute;
  background-repeat: repeat-x;
  width: 100vw;
  height: 1000px;
  background-position: top;
}

.sky {
  background-image: url(res/img/sky.png);
  z-index: -11;
}

.eleven {
  background-image: url(res/img/11.png);
  z-index: -10;
}

.ten {
  background-image: url(res/img/10.png);
  z-index: -9;
}

.nine {
  background-image: url(res/img/9.png);
  z-index: -8;
}

.eight {
  background-image: url(res/img/8.png);
  z-index: -7;
}

.seven {
  background-image: url(res/img/7.png);
  z-index: -6;
}

.six {
  background-image: url(res/img/6.png);
  z-index: -5;
}

.five {
  background-image: url(res/img/5.png);
  z-index: -4;
}

.four {
  background-image: url(res/img/4.png);
  z-index: -3;
}

.three {
  background-image: url(res/img/3.png);
  z-index: -2;
}

.two {
  background-image: url(res/img/2.png);
  z-index: -1;
}

.one {
  background-image: url(res/img/1.png);
  z-index: 0;
}

/* 
  _____            _____           ______
  |    \  |    |  /     \  |\   | |
  |____/  |____| |       | | \  | |___
  |       |    | |       | |  \ | |
  |       |    |  \_____/  |   \| |______
  
*/

@media screen and (max-width: 767px) {
  .cursor {
    display: none;
  }

  .sir {
    height: 100vh;
  }

  nav .showUl {
    display: block;
    margin-top: 3vh;
    list-style: none;
    text-align: center;
    font-size: 3em;
    height: 50vh;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--paletteDark);
  }

  nav ul li {
    margin-bottom: 10vh;
  }

  .wrapHead {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .button {
    align-self: center;
  }

  #youtubeLap {
    display: none;
  }

  /* Parallax for Mobile */
  .parallax {
    background-size: auto 300px;
  }

  .sky {
    top: -100px;
  }

  .eleven {
    top: 140px;
  }

  .ten {
    top: 170px;
  }

  .nine {
    top: 200px;
  }

  .eight {
    top: 210px;
  }

  .seven {
    top: 230px;
  }

  .six {
    top: 290px;
  }

  .five {
    top: 220px;
    background-size: auto 250px;
  }

  .four {
    top: 250px;
  }

  .three {
    top: 130px;
    background-size: auto 450px;
  }

  .two {
    top: 390px;
  }

  .one {
    top: 490px;
    background-size: auto 900px;
  }

  /* Footer */
  footer p {
    color: var(--paletteDark);
    font-size: 0.9em;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-51%, 0);
    width: 100%;
    font-weight: 200;
    text-align: center;
  }
}

/*
_______          ____
   |      /\    |    \
   |     /__\   |_____|
   |    /    \  |      \
   |   /      \ |______/

*/
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .cursor {
    display: none;
  }

  .sir {
    height: 100vh;
  }

  nav .showUl {
    display: block;
    margin-top: 5vh;
    list-style: none;
    text-align: center;
    height: 50vh;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--paletteDark);
    font-size: 3em;
  }

  nav ul li {
    margin-bottom: 15vh;
  }

  .wrapHead {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  /* Footer */
  .contact h4 {
    font-size: 5vmin;
  }

  footer {
    height: 70vh;
  }

  #youtube {
    width: 17vmin;
  }
  #twitter {
    width: 18vmin;
  }

  footer p {
    color: var(--paletteDark);
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    bottom: 1vh;
    left: 50vw;
    transform: translateX(-50%);
  }

  #youtubeLap {
    display: none;
  }

  /* Parallax for tab */
  .parallax {
    display: none;
  }
}

/*
 ______     _______
|      \   /
|______/  |
|         |
|          \_______

*/
@media screen and (min-width: 1026px) {
  /* Cursor */
  .cursor {
    display: block;
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: 0.218vw solid var(--paletteLight);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 105;
    transition: all 0.2s ease;
    transition-property: background, transform, transform-origin, border;
    transform-origin: 130% 130%;
  }

  .removeCurz {
    cursor: none;
  }

  .curzOnHeader {
    fill: #269e97;
    mix-blend-mode: difference;
    border-color: #269e97;
  }

  .curzOnLink {
    transform: scale(1.5);
    background: #269e97;
  }

  .curzOnFoot {
    transform-origin: 64% 58%;
    transform: scale(6);
    background: var(--brandColor);
    border: var(--brandColor);
  }

  /* Header */
  #tapHere {
    display: none;
  }

  .wrapHead {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: inline-flex;
  }

  nav {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 0 0 0 auto;
  }

  ul li a {
    text-decoration: none;
    color: black;
    font-size: 3vmin;
    padding: 5vh 5vh;
  }

  ul li {
    list-style: none;
  }
  nav ul {
    display: flex;
  }

  .home:hover {
    color: black;
  }

  /* Parallax */
  .wrap-parallax {
    position: relative;
    height: 100vh;
  }

  .parallax {
    background-size: auto 450px;
    position: absolute;
    background-repeat: repeat-x;
    display: block;
    width: 100vw;
    height: 1000px;
    background-position: top;
  }

  .sky {
    background-image: url(res/img/sky.png);
    top: -90px;
    z-index: -11;
    height: 500px;
    background-size: auto 400px;
  }

  .eleven {
    background-image: url(res/img/11.png);
    z-index: -10;
    top: 250px;
  }

  .ten {
    background-image: url(res/img/10.png);
    z-index: -9;
    top: 295px;
  }

  .nine {
    background-image: url(res/img/9.png);
    z-index: -8;
    top: 320px;
  }

  .eight {
    background-image: url(res/img/8.png);
    z-index: -7;
    top: 320px;
  }

  .seven {
    background-image: url(res/img/7.png);
    z-index: -6;
    top: 330px;
  }

  .six {
    background-image: url(res/img/6.png);
    background-size: auto 250px;
    z-index: -5;
    top: 420px;
  }

  .five {
    background-image: url(res/img/5.png);
    z-index: -4;
    background-size: auto 400px;
    top: 280px;
  }

  .four {
    background-image: url(res/img/4.png);
    z-index: -3;
    background-size: auto 400px;
    top: 390px;
  }

  .three {
    background-image: url(res/img/3.png);
    z-index: -2;
    top: 100px;
    background-size: auto 760px;
  }

  .two {
    background-image: url(res/img/2.png);
    z-index: -1;
    top: 430px;
    background-size: auto 500px;
  }

  .one {
    background-image: url(res/img/1.png);
    z-index: 0;
    top: 500px;
    background-size: auto 720px;
  }

  /* Main */

  /* Footer */
  footer {
    margin-top: 30vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 5vh;
    background: var(--paletteDark);
    grid-template-areas:
      "contact logo social"
      "copyright copyright copyright";
  }

  footer p {
    grid-area: copyright;
    text-align: center;
    font-size: 3vh;
    z-index: 110;
    line-height: 2vh;
  }

  #clogo {
    width: 15vw;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    grid-area: logo;
  }

  #youtubeLap {
    width: 15vh;
    z-index: 111;
  }

  #youtube {
    display: none;
  }

  #twitter {
    width: 15vh;
    z-index: 112;
  }

  .social {
    margin-top: -0.5em;
    column-gap: 4em;
    z-index: 110;
  }

  .conw {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: contact;
  }

  footer h3 {
    font-size: 12vh;
    margin-bottom: 0.5em;
    z-index: 110;
  }

  .contact h4 {
    font-size: 5vh;
    z-index: 110;
  }

  .contact {
    z-index: 110;
  }

  .foso h3 {
    margin-bottom: 0;
  }

  .wrso {
    display: grid;
    place-content: center;
    grid-area: social;
  }
}
