@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Stuff */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --paletteDark: #0b0b0a;
  --paletteLight: #fff;
  --brandColor: #4da167;
}

body {
  background-color: var(--paletteDark);
  font-family: Montserrat;
  overflow-x: hidden;
  color: var(--paletteLight);
}

/* SVG styling */
.cls-1 {
  fill: var(--paletteDark);
}
.cls-2 {
  fill: #63d487;
}
.cls2 {
  fill: var(--brandColor);
}
.clsy-1 {
  fill: var(--paletteDark);
}
.clsy-2 {
  fill: var(--paletteLight);
}
.clst-2 {
  fill: var(--paletteDark);
}

/* Header */
nav ul {
  display: none;
}

nav ul li {
  margin-bottom: 10vh;
}

nav ul li a {
  text-decoration: none;
  color: var(--paletteDark);
}

header {
  background-color: #269e97;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  height: 15vh;
  padding: 2vh 0;
  align-self: center;
}

.home {
  color: #63d487;
}

.sir {
  height: 100vh;
}

nav .showUl {
  display: block;
  margin-top: 3vh;
  list-style: none;
  text-align: center;
  font-size: 3em;
  height: 50vh;
}

.wrapHead {
  display: flex;
  align-content: center;
  flex-direction: column;
}

/* Tap Here */

#tapHere {
  position: absolute;
  width: 30vw;
  right: 2vw;
  top: 1vh;
}

/* Main */
main {
  position: relative;
  display: grid;
}

/* About Us */
.about-us {
  padding-top: 500px;
  background: var(--paletteDark);
  display: grid;
  justify-items: center;
}

.about-us h2 {
  text-align: center;
  position: relative;
  font-size: 4em;
  padding: 4vw;
}

.about-us p {
  color: var(--paletteLight);
  width: 80vw;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}

/* Parallax */
.wrap-parallax {
  position: relative;
  height: 100vh;
}

.parallax {
  position: absolute;
  background-repeat: repeat-x;
  width: 100vw;
  height: 1000px;
  background-position: top;
  background-size: auto 300px;
}

.sky {
  background-image: url(/res/img/sky.png);
  z-index: -13;
  top: -100px;
  height: 350px;
}

.eleven {
  background-image: url(/res/img/11.png);
  z-index: -12;
  top: 140px;
  height: 200px;
}

.ten {
  background-image: url(/res/img/10.png);
  z-index: -11;
  top: 170px;
  height: 200px;
}

.nine {
  background-image: url(/res/img/9.png);
  z-index: -10;
  top: 200px;
  height: 200px;
}

.eight {
  background-image: url(/res/img/8.png);
  z-index: -9;
  top: 210px;
  height: 500px;
}

h6.parallax {
  top: 150px;
  z-index: -8;
  font-size: 7vmin;
  letter-spacing: 0.5vmin;
  height: auto;
  background: none;
  color: var(--paletteDark);
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.seven {
  background-image: url(/res/img/7.png);
  z-index: -7;
  top: 230px;
  height: 500px;
}

.six {
  background-image: url(/res/img/6.png);
  z-index: -6;
  top: 290px;
  height: 200px;
}

.five {
  background-image: url(/res/img/5.png);
  z-index: -5;
  top: 220px;
  background-size: auto 250px;
}

.four {
  background-image: url(/res/img/4.png);
  z-index: -4;
  top: 250px;
}

.three {
  background-image: url(/res/img/3.png);
  z-index: -3;
  top: 130px;
  background-size: auto 450px;
}

.two {
  background-image: url(/res/img/2.png);
  z-index: -2;
  top: 390px;
}

.one {
  background-image: url(/res/img/1.png);
  z-index: -1;
  top: 490px;
  background-size: auto 900px;
}

.showcase-videos {
  background: var(--paletteDark);
}

/*
 __           __    __   __
/_   |    |  |  \  |_   /_
__/  |__  |  |__/  |__  __/

*/

.divide {
  height: 50vh;
}

.divide1 {
  height: 50vh;
  background: var(--paletteDark);
}

.divide5 {
  height: 70vh;
}

.scroll-wrapper h2 {
  font-size: 15vmin;
  color: var(--paletteDark);
  user-select: none;
  -webkit-user-select: none;
}

.scroll-wrapper h3 {
  font-size: 2.5em;
  color: var(--paletteLight);
  user-select: none;
  -webkit-user-select: none;
}

.scroll-wrapper {
  background: var(--brandColor);
  transition: all 0.2s ease;
  text-align: center;
}

/* First */

.ek {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ek h2 {
  white-space: nowrap;
}

.ek .doosre-waale,
.ek .baad-waale,
.ek .uupar-waale,
.ek .neeche-waale,
.side-waale {
  color: #383838;
  opacity: 0.6;
}

/* Second */

.do {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.do-main {
  position: relative;
}

.write {
  font-size: 1.5em;
  margin-top: 10em;
}

.do-main .write {
  color: var(--brandColor);
  -webkit-text-stroke: var(--brandColor) 0.35vmin;
}

.do-me {
  visibility: hidden;
  position: absolute;
}

.do-me .write {
  -webkit-text-stroke: var(--brandColor) 0.35vmin;
  color: var(--paletteDark);
  visibility: visible;
}

/* Third */

.teen {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.teen-main {
  position: relative;
}

.manip {
  font-size: 1.05em;
  margin-top: 5em;
}

.teen-main .manip {
  -webkit-text-stroke: var(--brandColor) 0.35vmin;
  color: var(--paletteDark);
}

.teen-me .manip {
  color: var(--brandColor);
  -webkit-text-stroke: var(--brandColor) 0.35vmin;
  visibility: visible;
}

.teen-me {
  position: absolute;
  visibility: hidden;
}

/* Fourth */

.chaar {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.chaar-me .edit {
  -webkit-text-stroke: var(--brandColor) 0.35vmin;
  color: var(--paletteDark);
  visibility: visible;
}

.chaar-main .edit {
  color: var(--brandColor);
  -webkit-text-stroke: var(--brandColor) 0.35vmin;
}

.chaar-me {
  position: absolute;
  visibility: hidden;
}

.edit {
  font-size: 1.5em;
  margin-top: 10em;
}

/* Fifth */
.paach {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Sixth */
.chay {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h2.chay-me {
  position: absolute;
  -webkit-text-stroke: var(--paletteDark) 0.035em;
  color: var(--paletteLight);
}

/* Seventh */
.saath {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.saath h3 {
  width: 95%;
  font-size: 3em;
}

/* Eighth */
.aath {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.aath h3 {
  -webkit-text-stroke: var(--paletteLight) 0.35vmin;
  color: var(--paletteDark);
  font-size: 3.5em;
}

/* Logo */
#scroll-intro {
  width: 100vw;
  height: 100vh;
}

/* Channel Intro */
.channel-intro iframe {
  width: 100vw;
  height: calc(900vw / 16);
}

/* Videos */
.showcase-videos {
  display: grid;
  justify-items: center;
}

.showcase-videos h2 {
  margin-top: 15vh;
  margin-bottom: 7vh;
  font-size: 8vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--paletteLight);
}

.saareVid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
  width: 85vw;
  gap: 6vh 6vw;
  padding-bottom: 15vh;
}

.card img {
  width: 100%;
}

.card p {
  text-align: center;
  font-size: 2vh;
}

/* FOOTER STYLES */

footer {
  position: relative;
  height: 53vh;
  background-color: var(--brandColor);
}

#twitter {
  width: 24vmin;
}

#youtube {
  width: 23vmin;
}

.social {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  column-gap: 15vw;
  align-items: center;
}

footer h3 {
  font-size: 14vmin;
  font-weight: 800;
  text-align: center;
  color: var(--paletteDark);
  padding-top: 5vh;
}

footer h4 {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  color: var(--paletteDark);
  margin-top: 1vh;
}

footer p {
  color: var(--paletteDark);
  font-size: 0.9em;
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translate(-51%, 0);
  width: 100%;
  font-weight: 200;
  text-align: center;
}

/*
_______          ____
   |      /\    |    \
   |     /__\   |_____|
   |    /    \  |      \
   |   /      \ |______/

*/
@media screen and (min-width: 768px) and (max-width: 1025px) {
  nav .showUl {
    margin-top: 5vh;
  }

  nav ul li a {
    font-size: 3em;
  }

  nav ul li {
    margin-bottom: 15vh;
  }

  /* Parallax */
  h6.parallax {
    font-size: 2em;
  }

  /* About Us */
  .about-us {
    padding-top: 800px;
    margin-top: -200px;
    background: var(--paletteDark);
    display: grid;
    justify-items: center;
  }

  /* Footer */
  .contact h4 {
    font-size: 5vmin;
  }

  footer {
    height: 70vh;
  }

  #youtube {
    width: 17vmin;
  }
  #twitter {
    width: 18vmin;
  }

  footer p {
    color: var(--paletteDark);
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    bottom: 1vh;
    left: 50vw;
    transform: translateX(-50%);
  }
}
